.BuildControlParent {
      display: block;
      height: auto;
      width: auto;
      padding-left: 3rem;
      padding-right: 3rem;
      margin: 1rem auto;
      border-radius: .5rem;
      background-color: #ffa45c;
}

.BuildControlInnerParent {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: auto;
}