.NavigationItem{
      margin: 0;
      box-sizing: border-box;
      display: flex;
      height: 100%;
      align-items: center;

}

.NavigationItem a {
      color: white;
      transition: 250ms all ease-in-out;
      text-decoration: none;
      height: 100%;
      padding: 16px 16px;
      border-bottom: 4px solid transparent;
      box-sizing: border-box;
      display: block;
}

.NavigationItem a:hover , .NavigationItem:active , .NavigationItem a.active{
      background-color: #8f5c2c;
      border-bottom: 4px solid #40A4c8;
      color: white;
}