.Element {
	display: -ms-flexbox;
	display: flex;
	width: 90%;
	color: black;
	-ms-flex-pack: justify;
	justify-content: space-around;
	margin: 1rem auto;
	border: 2px solid #ffcdab;
      padding-left: 10px ;
      padding-right: 10px ;
      border-radius: 8px;
}

.Element p {
	display: inline;
}

.innerParent{
      display: flex;
      margin:  auto;
	align-items: center;
}


.innerParent button{
      margin: auto 1rem;
}

.price{
	color: black;
	margin-right: .3rem;
}

.symbole{
	font-weight: 700;
	color: brown;
}